[2015-09-23 10:30] non opened #4 "foldRight implementations should be properly lazy"
Currently it looks like many of these types define something like:

[code]

We should update them to instead define:

[code]

[2015-09-23 11:06] non commented on #4
The current implementations are stack-safe (since they are implemented as `reverse.foldLeft(...)`) but don't really add much.

[2015-09-24 03:26] #4 closed

[2016-02-07 16:05] stew opened #13 "use discipline for law checking"
Although we don't have things like Functor and Monad, we still have things like map and flatMap, we should be using discipline to encode and check laws that say, for example, the our map methods should still be compositional, and our flatMap methods should respect associativity.

[2016-02-07 16:06] stew opened #14 "we desperately need benchmarks"
We need to start using JMH to benchmark our datatypes against those from the standard library where it makes sense

[2016-02-07 16:07] stew opened #15 "Expose range as a first class concept"
Diet has a Range type that it uses intenerally. We could move this out from inside Diet and expose it as a first class data type as a replacement for Range from the scala standard library

[2016-02-07 16:08] stew opened #16 "implement union in Diet"
There is currently a merge in Diet, but it doesn't work for overlapping Diet's, it is only used internally when a range is deleted. There is currently a commented out test that shows that it won't work for overlapping ranges

[2016-02-07 16:10] stew opened #17 "improve how we add ranges to Diet"
right now in Diet, if you add a range of values, it adds them one by one. So adding a range is O(n) on the size of the range, but we should be able to make this O(log n) on the size of the tree.

If you think about it, adding 0 - 100000 to an empty diet should just be a single operation, right now it is  100001 separate operations

[2016-02-08 05:20] anicolaspp commented on #17
I will be taken care of this within this week.

[2016-02-08 14:07] anicolaspp commented on #15
The scala Range is only for Int. Do you want to have the Range I implemented for Diet in the same way it is now (generic that uses a generator function)? or like the one in scala standard library?

[2016-02-08 14:10] anicolaspp commented on #15
can we have a common interface that describe functions like foldRight, foldLeft, map, ... so we can use it as a base concept for the other structures?

[2016-02-08 16:38] tpolecat commented on #15
We use typeclasses to abstract over operations like `fold` and `map` (in this case `Foldable` and `Functor`) … in general you can't express this kind of thing with subclassing (stdlib tries and it's a disaster).

[2016-02-08 16:44] anicolaspp commented on #15
do we have type class for this already?

[2016-02-08 16:44] anicolaspp commented on #15
how exactly it's done?

[2016-02-08 18:29] anicolaspp commented on #17
I am working on this now

[2016-02-11 19:45] anicolaspp opened #19 "Diet Remove Range"
The current implementation of Diet does not delete ranges, but item by item. I should be able to delete a range efficiently (without iterating for each item).

[2016-02-11 19:45] anicolaspp commented on #19
I will be working on this

[2016-02-12 15:38] #15 closed

[2016-02-12 15:38] #16 closed

[2016-02-12 15:38] #19 closed

[2016-02-12 19:58] anicolaspp commented on #17
This is done already

[2016-02-13 06:59] #17 closed

[2016-02-13 14:27] anicolaspp commented on #14
I am goong to start benchmarking binary search tree and Diet

[2016-02-16 04:19] anicolaspp opened #20 "convert Diet into a balanced tree."
I found that Scalaz Diev has lower inserts/deletions than our Diet, but is quite faster in searches. We can balance Diet so we improve search, yet, it might compromise inserts/deletions.

The original Diet paper doesn't talk about balancing it out, but will it be something we should consider?

[2016-02-16 23:08] anicolaspp commented on #20
I was wrong, it is the other way around. Still, it might be a good idea to balance Diet?

[2016-02-22 09:34] stew commented on #14
we have some benchmarks now, `sbt bench/jmh:run` to run them, now we need to publish the results in a way which motivates when to use which collections

[2016-02-22 09:34] stew commented on #14
we also still need benchmarks for many structures. especially Set/Map

[2016-02-22 19:29] anicolaspp commented on #14
I am starting benchmarks to Set.

[2016-02-26 07:03] stew opened #31 "missing Diet.removeRange"
we have a `def -` which does this, we just need the removeRange method for symmetry with addRange. When we do this, lets make sure to add it to the docs project

[2016-02-26 12:27] anicolaspp commented on #31
I will take care of this

[2016-03-01 00:00] #31 closed

[2016-03-02 16:38] stew opened #36 "write scalatest matchers for our List / Option / etc"
I'd love it if we could write scalatest matchers for list so that we aren't converting to scala stdlib lists just so that we can use the matchers.

[2016-03-02 16:42] anicolaspp commented on #36
I wil do this

[2016-03-20 19:47] stew opened #45 "something is wrong with codecov"
Our coverage is not as bad as codecov makes it seem like.

If you run the coverage locally with `sbt coverage test coverageReport` and look at the report in core/target you'll see that we're doing much better than the website leads on.

One obvious difference is that if you look at the website there are a bunch of files such as Set.scala that the web site says we have zero coverage for, but the lo

[2016-03-20 19:48] stew opened #46 "instances for Map"
we should be able to provide a FlatMap instance for Map

[2016-03-20 19:49] stew opened #47 "instances for Nel"
We should be able to provide the same instances for our Nel as exist for cats.OneAnd: https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/OneAnd.scala#L140-L186

[2016-03-21 15:55] stew opened #48 "DList flatMap is not stackSafe"
uncomment out the MonadCombineTests in DListSpec.scala to see the SOE.

[2016-03-22 03:09] #48 closed

[2016-03-22 10:10] stew commented on #45
seems lke the filenames actually mattered. When I renamed Set.scala to SomethingELse.scala it started looking like it was covered. set.scala didn't work, Set_.scala did. I ended up moving everything to a dogs subdirectory, and now all the coverage works.  weird, too weird.

[2016-03-22 10:10] #45 closed

[2016-03-22 10:11] stew commented on #14
I checked in a benchmarks.md hoping that .org mode tables would render in .md, but they don't... I'll work on it more tomorrow

[2016-03-29 18:04] anicolaspp commented on #36
I did the matcher for List[A]

I will do Option too

[2016-03-29 18:19] anicolaspp opened #50 "Functional Graph?"
Should we add functional graph manipulation? such as Dijkstra?

[2016-03-29 18:22] anicolaspp commented on #50
do we have this on cats or a subproject? I think dogs is a good place for it seems we have all other data structures in here

[2016-04-01 07:04] stew commented on #50
my tendency is to work on quiver instead: https://github.com/oncue/quiver for graph stuff. Runar is working on it actively and I think its a pretty solid foundation to start building on

[2016-04-16 03:06] #47 closed

[2016-05-02 16:48] yilinwei opened #56 "Adding Bounded to enhance Enum?"
I was wondering whether `Bounded` like the one in [monocle](https://github.com/julien-truffaut/Monocle/blob/4bebf15f825d593ff25287903d9b2dfe2ea972e1/core/shared/src/main/scala/monocle/internal/Bounded.scala) would be a typeclass which should belong within dogs since `Enum` exists and it would be useful to be able to call a variant of the `succ` method which returned an `Option` if at the maximum/m

[2016-06-26 19:07] anicolaspp commented on #56
Isn't `Bounded` similar to `dog.Range`?

[2016-06-27 12:35] yilinwei commented on #56
@anicolaspp Looking through the docs I would argue not, since `Range` is concrete rather than on `A` itself.

Consider a bounded enumeration for the days of the week, the `Max` would be `Sunday` and the `Min` would be `Monday`, that is to say `succ(Sunday) === Sunday` and `prev(Monday) === Monday`

`Range` on the other hand seems to represent a concrete interval which is user-defined.

[2016-06-27 13:05] anicolaspp commented on #56
@yilinwei that is basically `Range`. You only need a custom `Enum`. However, I also get your point. I can do `Bounded` based on  `Range`.

[2016-06-27 13:06] anicolaspp commented on #56
@yilinwei I will propose an implementation of `Bounded`by the end of the week. Please, review after PR

[2016-10-26 21:38] velvia opened #66 "DietMap"
I found Diet, which seems quite nice, but I'm particularly interested in a DietMap, which would allow you to store values associated with each range.

    dietMap.addRange((1, 10), myCaseClass)
    def intersection(range): Seq[V]

[2016-10-27 02:36] anicolaspp commented on #66
I could add dietmap[A,B] to store items of type B associated with ranges of type A. I dont think it is a problem. I just need other things committed first.

[2016-11-12 21:24] gyfarkas commented on #46
I made a pull request  #73  for this issue.

[2016-12-17 19:52] frgomes opened #75 "Create PDF documentation."
PDF documentation would be useful when there's no internet connection.

I've created some scripts which work well enough for ``cats``, ``dogs`` and ``fetch``, as shown below:
https://github.com/frgomes/debian-bin/blob/master/bash_30pdf.sh
https://github.com/frgomes/debian-bin/blob/master/bash_30httrack.sh
https://github.com/frgomes/debian-bin/blob/master/bash_31makepdf_cats.sh
https://github.com/f

[2016-12-20 23:58] edmundnoble opened #76 "Catenable stack-ended queue"
Any place for `fs2.util.Catenable` here aka `StackEndedQueue`? Benchmarks here show it is the fastest sequence data structure in Scala as of functional-streams-for-scala/fs2/#784 (if you don't need `unsnoc`): https://ethercalc.org/kknm1xz3mb5s_3ht2cokr07oy/app

[2017-02-13 22:25] anicolaspp commented on #66
@stew I am going to start working on this. The interesting part is merging two nodes. Each Node needs the `Range` and and elements in the range. I am thinking on using shapeless to do this since we don't need to fix a type `A`. A `Node` could potentially look like this:

[code]
in other words, we could do something like this:
[code]
will result in:
[code]

What do you think?

[2017-03-06 18:02] lewismj opened #82 "Disjoint-set"
Hi,
I have an initial (requires some tidy up, more tests, more detail on the documentation) implementation of a disjoint-set, here: https://github.com/lewismj/dogs/tree/feature/disjoint-set
Whilst it is a very simple data-structure, it is useful as a building-block to some graph structures/functions. And, I thought it would be a good starting point as I'd like to see if I could add to the dogs lib

[2017-03-06 19:32] anicolaspp commented on #82
Would you create a PR?

[2017-03-06 19:34] anicolaspp commented on #82
Actually, we could use this on Diet[A] when asking for all the ranges on the tree. The result right now is a disjoint set based on Range[A]

[2017-03-07 00:51] lewismj commented on #82
Thanks, I will raise a PR ...  I will look to add some utility functions with the ability to union a set (it is a simple fold), as I think that would be used by graphs. Im not sure many people would use this data-structure directly - but it is useful implementing other stuff.

[2017-03-07 00:53] anicolaspp commented on #82
i once talked to @stew about adding graph data structures / algorithms here but there is another lib from verizon (I think) already. Maybe it is something to consider again. At the NE Scala event this month, we should talk about the future of dog in general.

[2017-03-07 04:23] lewismj commented on #82
I have some issues, the Travis CI, seemed to run again, but I'm getting decov issues:

decov/patch — No report found to compare against
codecov/project — No report found to compare against

I've not used decov/codecov, I will take a look, I guess there are some files I need to submit as part of the PR?

[2017-03-08 02:41] lewismj commented on #82
hi, I'd appreciate it if someone (with permission) could try restarting the Travis build for my branch? Save me making minor w/s edits to trigger the build, hopefully Travis has sorted itself out...

[2017-03-09 09:00] #82 closed

[2017-03-09 13:21] lewismj opened #87 "Disjoint-Set"
Hi,

I re-raised a PR for a DisjointSet, I tidied up the branch, so there is a single commit for the set, with test and doc.

https://github.com/stew/dogs/pull/86
I did an 'sbt clean test tut', and it all runs fine locally.

Hopefully there is home for this within dogs, I think there are a few others that may be useful (and don't go to heavily into the work done in quiver).

--Mike

[2017-03-13 19:46] stew commented on #66
I think that it should require a Semigroup on A instead of using an HList

[2017-03-13 19:55] anicolaspp commented on #66
That will work too. I will look into it

[2017-03-25 19:36] pfcoperez commented on #87
Hi @lewismj , I was about to open the a PR with the functionality for disjoint sets when I found yours. I wanted to bring into dogs the implementation I published at
https://github.com/pfcoperez/algorithmaday/tree/master/src/main/scala/org/pfcoperez/dailyalgorithm/datastructures/sets

Which is a pure functional version of the structure described at [CLRS](https://en.wikipedia.org/wiki/Introduction

[2017-03-26 02:23] lewismj commented on #87
Looks good, I thought about implementing the path compression (I mentioned it in the code comment), but decided not to in the end. It was partly because I wanted to avoid bringing in a dependency like Cats or roll my own Monad. I wan't sure about bringing in a dependency on Cats of if dogs had to be standalone... I couldn't decide in the end if it was worth doing or not...

[2017-03-27 18:33] pfcoperez commented on #87
Hi @lewismj , the implementation at https://github.com/pfcoperez/algorithmaday/blob/master/src/main/scala/org/pfcoperez/dailyalgorithm/datastructures/sets/DisjointSets.scala doesn't use Cats, it follows a standalone approach as you suggested, it is curious that we share the same criteria in that regards :smile:

It has a wrapper to make it "Cats friendly": https://github.com/pfcoperez/algorithmada

[2017-04-29 15:25] i-am-the-slime opened #92 "Port scalaz `Tree` and `TreeLoc`"
Is this something worthwile? Or would quiver cover this? I think circe ported this as well.
I am not sure I'd be able to get the typeclass dependencies and so on right.

[2017-05-09 13:26] joroKr21 commented on #92
I don't think it's there. I would like to have this as well. Quiver doesn't cover this, rather it uses `scalaz.Tree` and having a Cats based `Tree` would be necessary to port Quiver to Cats.

[2017-05-09 16:41] i-am-the-slime commented on #92
Do you think it could be ripped out of circe? I am afraid of all the type lambdas in the typeclass constraints.

[2017-05-09 19:53] joroKr21 commented on #92
I don't know, I haven't seen a `Tree` implementation in Circe.

[2017-06-21 20:25] anicolaspp commented on #66
@velvia I have done this and open #94 make sure you look at the commit message to see how to use it.

[2017-06-22 06:14] velvia commented on #66
Thanks very much!

[2017-09-28 07:31] martin-g opened #97 "All links at https://stew.github.io/dogs/ lead to 404"
Hi,

The links at https://stew.github.io/dogs/ seem to be broken.

[2017-12-06 20:28] fommil opened #98 "Traverse[Streaming] is eager"
[code]

runs forever.

stdlib Stream in scalaz executes immediately.

Related: https://github.com/typelevel/cats/issues/2075

[2017-12-24 20:02] howardjohn opened #100 "Unused import warning in documentation"
On all of the pages of the documentation, there are unused import warnings. For example, on [binaryheap](https://stew.github.io/dogs/binaryheap.html), the example looks like this:

[code]

[2018-02-11 17:49] #100 closed

[2018-05-15 01:27] akilegaspi commented on #97
This seems to be fixed already

[2018-08-27 14:05] #98 closed

[2018-09-04 15:20] kailuowang opened #104 "dogs becomes typelevel/cats-collections"
@stew would you consider donating dogs to become a new `cats-collections` project under typelevel org? There have been interests in having more collection implementations available for the Cats ecosystem (latest https://github.com/typelevel/cats/issues/2463).  It would be amazing to have `cats-collections` start from dogs' code base. What do you think?

[2018-09-16 15:40] stew commented on #104
done!

[2018-09-16 15:40] #104 closed

[2018-09-17 16:17] kailuowang commented on #104
@stew Sorry I didn't get to properly thank you yesterday. It's really generous of you. I believe this is a first step toward expanding the project's adoption and contributions.

[2018-09-19 01:12] kailuowang opened #105 "complete migration"
- [ ] move root package to `cats.collections`
- [ ] s/dogs/cats-collections/ in build and documentation
- [ ] we might not want to start cats-collections with all existing dogs collections. e.g. `DList` (now we have `Chain` in cats), `Streaming` which we have more mature solution in the ecosystem , etc. cc @mpilquist. We can create a `legacy` package or module and move those that we are no so sure

[2018-09-19 21:01] danslapman commented on #105
`birds` can be moved into mouse - `mouse.any` already have thrush

[2018-09-19 21:06] larsrh commented on #105
I'm assigning myself for now. I'll work on at least the website issue this weekend (together with an overhaul of how the typelevel.org website works).

[2018-09-20 07:50] larsrh commented on #97
The website is currently broken because the repository name changed. Closing this in favour of #105.

[2018-09-20 07:50] #97 closed

[2018-09-20 07:51] larsrh commented on #105
* [ ] check stale branches

Any takers? I've already deleted those that have been merged, but there are a few which are ahead of `master`.

[2018-09-20 08:35] larsrh opened #108 "Clarify LICENSE"
It says "Apache 2" in the `build.sbt`, but there's no `LICENSE` file in the repository.

[2018-09-20 14:49] larsrh opened #114 "Approval counts for PRs"
How many should we require? Cats has 1, so I set it to 1 here too.

[2018-09-20 14:56] ChristopherDavenport commented on #114
My general goal on most projects 2 maintainers signing off. Where if one of the maintainers is submitting the PR it only takes another one(For ease of getting 2).

However it really depends on how much active maintenance we can provide.

[2018-09-20 15:55] kailuowang commented on #105
@larsrh I reviewed. Those are indeed outdated and safe to be deleted.
Another thing is that I didn't receive the Email invitation to be a collaborator of the project yet. Maybe it's github?

[2018-09-20 19:48] stew commented on #108
I pushed a correct to the build.sbt so that it matches the licenses found in the LICENSES file

[2018-09-20 19:48] #108 closed

[2018-09-20 19:48] #36 closed

[2018-09-20 19:48] #13 closed

[2018-09-20 21:39] larsrh commented on #105
@kailuowang I just forgot to do it. Done now.

[2018-09-24 16:41] larsrh commented on #105
I've created a 0.7 and a Backlog milestone. Everyone, it would be good if you could go through open PRs/issues and mark them accordingly.

[2018-09-24 16:49] kailuowang commented on #105
I went through the issues PRs, all seem pretty stale. Maybe we can just close them all and let the stakeholders reopen it if they choose to re-engage?

[2018-09-24 21:02] larsrh commented on #105
Done.

[2018-09-24 21:04] larsrh commented on #97
New website is now at: https://typelevel.org/cats-collections/

[2018-09-24 21:09] larsrh commented on #75
I'm closing this issue because there didn't seem to be much interest and the links don't work anymore. If you'd like to start working on it again, please feel free to reopen.

(If this somehow could be made to work together with `sbt-microsite` I'd be happy to consider this for inclusion.)

[2018-09-24 21:09] #75 closed

[2018-09-24 21:10] larsrh commented on #46
Closed by #73.

[2018-09-24 21:10] #46 closed

[2018-09-24 21:12] larsrh commented on #50
[Quiver](https://github.com/Verizon/quiver) indeed seems to solve this problem.

[2018-09-24 21:12] #50 closed

[2018-09-26 06:26] larsrh opened #118 "0.7.0 release with new name and package"
Is there anything preventing us from releasing this quickly?

[2018-09-26 12:07] kailuowang commented on #118
👍  for releasing.

[2018-09-26 12:09] kailuowang commented on #118
Shall we propose to the cats community to make this an official external cats module afterward? That's my original intention.

[2018-09-26 12:12] larsrh commented on #118
I'm not sure what that would entail.

[2018-09-26 12:18] kailuowang commented on #118
The official external cats module status is a just guarantee that Cats maintainers will help maintain this project as well.

[2018-09-26 14:15] ChristopherDavenport commented on #118
Sounds good to me.

[2018-09-26 20:16] larsrh commented on #118
Alright. Running the release now.

[2018-09-26 20:32] #118 closed

[2018-09-26 20:59] larsrh opened #120 "Eq[AvlSet[A]]"
Curiously, there appear to be no instances for `AvlSet`.

[2018-09-26 21:00] larsrh commented on #120
If we can implement this without `Streaming`, we can also get the `Eq` instance for `AvlMap` for free.

[2018-09-26 21:21] larsrh opened #122 "Remove all deprecated methods and classes"
Follow-up to #105 and #116.

[2018-09-27 19:01] larsrh opened #123 "Clean up DietSpec"
There are a lot of commented-out tests and also it prints some messages which seem to indicate that some tests should be failing.

[2018-09-29 08:22] larsrh opened #126 "Provide a scala.js build"
This should be doable.

[2018-10-01 03:56] stew commented on #126
yeah, we had it for a long time, but I got rid of it  when trying to get the build times under control since nobody was using it.

[2018-10-03 13:53] kailuowang commented on #120
closed by #124

[2018-10-03 13:53] #120 closed

[2018-10-03 20:15] larsrh commented on #126
Closed by #128.

[2018-10-03 20:15] #126 closed

[2018-10-08 19:48] anicolaspp commented on #123
@larsrh I wrote the original test suit and `Diet` implementation. At some point, we tried to migrate it to the new test style (current being executed). I will look at this and make sure all original tests are being included and then remove what is no longer needed.

[2018-10-08 19:49] anicolaspp commented on #87
This has been already merged.

[2018-10-08 19:51] larsrh commented on #87
Thanks!

[2018-10-08 19:51] #87 closed

[2018-10-08 19:51] larsrh commented on #123
Excellent, thank you!

[2018-10-08 19:54] anicolaspp commented on #66
@larsrh I am back to write some code for this project. I would like to resubmit some of my old PRs. between @stew and I wrote most of the structures here and I would like to continue with it.

[2018-10-08 19:56] larsrh commented on #66
That's great! I'd be happy to take a look at them.

[2018-10-08 20:12] anicolaspp opened #134 "Some Refactorings"
- Remove `DList` as `Chain` supersedes it
- Rename `Enum` as folks will think it means an enumeration ala Scala 3 enums
- Rename `Set` and `Map` to `AvlSet` and `AvlMap` to avoid name collision with stdlib
- Rename `Range` to avoid name collision with stdlib
- Remove `Streaming` in favor of fs2, monix, and iteratees
- Remove the birds package as thrush and kestrel aren't really related to collecti

[2018-10-08 20:24] larsrh commented on #134
Fixed (partly) by #116 and #121. Closing in favour of #122.

[2018-10-08 20:24] #134 closed

[2018-10-30 14:05] sumnulu opened #140 "Publish scala.js artifacts"
Maven artifacts are missing for scala.js

[2018-10-30 15:06] larsrh commented on #140
That's because #128 only got merged after the 0.7.0 release. (It was absent for a long time.) Do you need it for something?

[2018-11-01 14:18] mijicd commented on #76
I'll try to take care of this one.

[2018-11-01 14:54] ChristopherDavenport commented on #76
How is this different than Chain which I believe was the combination of Catenable and previous chain work?

[2018-11-01 15:17] mijicd commented on #76
Hm, you're right, accompanied by the long discussion in [this issue](https://github.com/typelevel/cats/issues/2358) and its [closing PR](https://github.com/typelevel/cats/pull/2371).

My mistake for picking it up. Should the issue be closed then?

[2018-11-01 15:34] larsrh commented on #76
I wasn't aware that's the same data structure. We should close this, then.

[2018-11-01 15:34] #76 closed

[2018-11-01 15:35] larsrh commented on #140
Will be fixed with 0.8.0. If you need it earlier, please reopen.

[2018-11-01 15:35] #140 closed

[2018-11-02 15:18] sumnulu commented on #140
Thats ok, not urgent thanks. Using snapshot for now.

[2018-11-04 21:07] nasadorian opened #142 "A purely functional Set implementation using `Eq`"
I noticed that the distinct implementations in cats data types are using on Scala's `TreeSet` and the `Order` typeclass. But what about a purely functional set based on `Eq` using only boolean logic?

Upsides:

* Intuitively more performant than TreeSet, with O(1) lookup and insert
* Small memory footprint per object, so far just a case class
* Uses Eq instead of Order or Hash, which is closest to

[2018-11-04 21:17] larsrh commented on #142
That should basically be [ISet](https://github.com/typelevel/cats-collections/blob/master/core/src/main/scala/cats/collections/ISet.scala). Making it a functor [wouldn't work,](https://typelevel.org/blog/2014/06/22/mapping-sets.html) however.

[2018-11-04 22:00] nasadorian commented on #142
Thanks @larsrh - looks like I'm a few years late to the party 😅. I do have some improvements I think I could make in a PR.

ISet seems to be based on a generic predicate. Would the special case based on Eq (which I'd assume is most common anyway) belong in the same library?

[2018-11-05 01:00] nasadorian commented on #142
Also interestingly, it seems neither ISet nor my implementation are not stack safe after a certain size. Found that ISet stack overflows when looking up in a set of around 20k elements.

[2018-11-05 07:51] larsrh commented on #142
It depends on how you construct such a set. One possibility to make it stack-safe would be to use a function `A => cats.Eval[Boolean]` instead of `A => Boolean`.

[2018-11-05 08:08] LukaJCB commented on #142
I think `Eval[A => Boolean]` would be even better (similar to what we did for `State`) as function composition isn't stack safe in general either

[2018-11-05 18:14] nasadorian commented on #142
I did try it with Eval, but ended up with a deferred version of the same SO.

What I'm starting to realize is... maybe this structure actually has O(n) lookup time instead of constant as one would expect. Correct me if I'm wrong here...

Every time I wrap a function in another function like in `Option((_:Int) == 1).map(f => (n: Int) => f(n) || n == 2)`, Scala is creating a new Function1 which refe

[2018-12-15 09:49] larsrh opened #145 "Specialization warning message"
This code:

[code]

produces the following warning:

[code]

[2018-12-15 10:37] #145 closed

[2018-12-15 11:11] larsrh opened #147 "Removing from Diets doesn't work"
[code]

Correct result should be an empty diet.

[2018-12-15 14:12] larsrh opened #149 "Adding into Diets doesn't work"
[code]

[2018-12-15 15:03] larsrh commented on #123
#150

[2018-12-16 14:52] anicolaspp commented on #149
the `.toList` out does not look right. It should not have repeated values.

[2018-12-16 14:53] #122 closed

[2018-12-16 14:56] larsrh commented on #149
Indeed. #150 should fix it, please have a look.

On 16 December 2018 15:52:25 CET, Nicolas A Perez <notifications@github.com> wrote:

[2018-12-27 17:55] johnynek opened #151 "Would you accept an immutable list implementation of Okasaki"
see:

https://gist.github.com/johnynek/5f4f97772595e2f65092cf51d186d6f2

it's a lot of work for everyone to send a complete PR. I want to get an idea if this is interesting to the maintainers before I do.

Alternatively, anyone is free to copy all or any of my code to send an implementation.

[2018-12-27 22:01] larsrh commented on #151
Pending some tests and a more thorough review, I'd be in favour of inclusion. I appreciate your work.

On 27 December 2018 18:55:03 CET, "P. Oscar Boykin" <notifications@github.com> wrote:

[2019-01-06 15:02] larsrh commented on #151
Merged.

[2019-01-06 15:02] #151 closed

[2019-01-06 20:46] johnynek commented on #151
Thank you!

[2019-01-17 19:03] johnynek opened #158 "Heap.heapify appears to be O(N^2)"
https://github.com/typelevel/cats-collections/blob/master/core/src/main/scala/cats/collections/Heap.scala#L71

This method is claimed (without proof) to be O(N). But it is calling in a loop `.length` and accessing elements from a list, both of which are O(N) operations.

In the very best case I think this can be O(N log N), but I think in fact it is O(N^2).

I think converting the input List into

[2019-01-26 19:51] johnynek opened #161 "Heap can have an Order"
If we have `Order[A]` we can make an `Order[Heap[A]]` in the worst case by linearizing to List, but I think just popping the min until we find the first difference should work.

[2019-01-26 19:53] johnynek commented on #161
also, I think `Hash[Heap[A]]` is doable in the same way if we have a `Hash[A]` by mixing in pop order (although it seems pretty expensive).

[2019-01-26 19:56] johnynek opened #162 "Heap could allow a Long size"
Since we are building a tree, we could use a Long as the size, as we tend to do with cats collections that are not directly array backed (it also matches the Foldable size method).

This is binary breaking.

[2019-01-26 20:18] johnynek opened #163 "Heap add and mergeChildren up have dead code, likely bug"
looking at the code coverage I noticed I can't reach this code:
https://github.com/typelevel/cats-collections/blob/36fdc82b986d30b6c3db8a85d94d57c10ab37edb/core/src/main/scala/cats/collections/Heap.scala#L58

[code]

note `1 >> x`  is either `0` or `1`. So `(1 >> x) - 1` is `-1` or `0`. But `size >= 0` so `size < (1 >> x) - 1` is never true. So those branches are dead.

Similarly with: https://git

[2019-01-26 22:34] johnynek opened #164 "Heap can have UnorderedFoldable"
we need an `Order[A]` to iterate through a `Heap[A]` in order, but without it we could still iterate in the tree order.

So, I think we can do `UnorderedFoldable[Heap]`:

https://github.com/typelevel/cats/blob/af17a10e6535a71ca1ddfbccae5841c9ec908755/core/src/main/scala/cats/UnorderedFoldable.scala#L10

Which gives us many methods (such as exists, forall, size, unorderedFoldMap (which requires a C

[2019-01-26 23:59] johnynek opened #165 "efficient merges for Heaps"
we can always merge two heaps by taking the smaller of the two and adding each element. This would be `n log n` where n is the size of the smaller heap. This totally discards the structure of the smaller one.

It *seems* like we should be able to leverage the heap property to more efficiently merge (say O(log n) would be ideal).

The original paper this is based on does not have a merge operation,

[2019-01-27 21:04] #158 closed

[2019-01-27 22:31] #163 closed

[2019-01-28 13:14] larsrh opened #167 "Diets need reasonably-fast equality"

[2019-01-28 13:14] larsrh opened #168 "Diets are Semirings"
Checking this requires pulling in algebra.

[2019-01-28 14:49] #161 closed

[2019-01-28 16:14] #162 closed

[2019-01-28 16:14] #164 closed

[2019-01-28 16:19] johnynek commented on #168
They are also lattices (which implies being a Rig)

[2019-01-28 17:40] larsrh opened #170 "Re-examine `Show` instance of `Diet`"
The string `Diet` should probably appear somewhere.

[2019-01-28 18:01] #147 closed

[2019-01-28 18:02] #149 closed

[2019-01-28 18:07] johnynek commented on #167
I think we should be able to have `Order[Diet[A]]` in fact, since `Diet[A]` is really an ordered set of discrete countable elements.

[2019-01-28 18:08] johnynek commented on #123
can we close @larsrh ?

[2019-01-28 18:08] #123 closed

[2019-01-28 18:11] johnynek commented on #167
maybe the way to go is add `toIterable` to Diet and then just use lexicographical order on that iterable.

I think we can make a toIterable that is reasonably fast by making an Iterator that keeps a state of iterating through the Diet.

[2019-01-28 18:18] larsrh commented on #167
Sounds good. That's a strategy that I have used before in this library.

On 28 January 2019 19:11:22 CET, "P. Oscar Boykin" <notifications@github.com> wrote:

[2019-01-29 17:31] johnynek commented on #167
Indeed. So, maybe an iterator of ranges in order would make your algorithm pretty doable.

[2019-01-30 21:38] johnynek commented on #165
I've researched this a bit. The Heap we have here is asymptotically optimal even though it is immutable for all the operations it supports.

The paper does not give a merge implementation. It may be possible to find an O(log N) implementation, but I don't yet know one and don't see it immediately.

Alternatively, we could have a second implementation of say `PairingHeap[A]` which while lacking a p

[2019-02-01 19:27] johnynek opened #176 "should we have a Heap typeclass?"
I think we can have a `IsHeap[F[_]]` typeclass. There are many heap implementations, and we can convert the current tests into a HeapLaws to test different implementations.

something like:
[code]

[2019-02-02 07:17] larsrh commented on #176
I'm not entirely convinced that this class should be called `IsHeap`. It could apply to all collection types that impose some `Order`. Unfortunately `OrderedFoldable` would be a bad name because it means something different than the opposite of `UnorderedFoldable`. Maybe `OrderedCollection`?

The `remove` method should be renamed to `removeMin`.

[2019-02-02 11:29] ngbinh opened #179 "publish 0.7.0 artifacts for scala.js"
Only artifacts for `scala_2.11` and `scala_2.12` exist https://mvnrepository.com/artifact/org.typelevel/cats-collections-core

[2019-02-02 18:29] #179 closed, assigned to nobody

[2019-02-02 18:50] vkostyukov commented on #165
There is also [`SkewHeap` and `LeftistHeap`](https://github.com/vkostyukov/scalacaster/tree/master/src/heap); both support fast, O(log n), merge.

I wrote that "standard heap" paper and I wasn't able to find an efficient merge algorithm either. I had some notes somewhere but I probably lost them at this point. What rings a bell is that, later, I stumbled upon old ML (language) lectures talking abo

[2019-02-02 20:06] johnynek commented on #165
@vkostyukov what o you think of having a Heap typeclass see #176 and then we could have the various implementations and code against a typeclass (which I think can be lawful).

[2019-02-02 20:35] larsrh commented on #176
Fair enough. Possibly `PartiallyOrderedSet`, maybe.

[2019-02-03 20:03] #165 closed

[2019-02-19 18:08] #176 closed

[2019-02-22 14:41] larsrh opened #185 "Doc fixes"
Documentation still lists some types with their old name. Many source references are broken.

[2019-03-08 09:27] ajatix opened #188 "Coalescing of Diet ranges"
Consider this example

[code]

I would have expected `d4` to be `{ [2, 20] }`

[2019-03-08 22:28] larsrh commented on #188
What version is that? I can't reproduce it on latest `master`.

[2019-03-11 04:21] ajatix commented on #188
I tried this on `0.7.0`

[2019-03-11 04:30] ajatix commented on #188
Found the fix that was added after `0.7.0` in the `noMoreThan` and `noLessThan` methods - https://github.com/typelevel/cats-collections/commit/074bf911dc1988c54c0fd1a9aed8d5fdcba5ed63#diff-57bfa0da95ba1d55a24c48b028296023

[2019-03-11 16:58] #188 closed

[2019-03-11 17:02] larsrh commented on #188
Right, that may have been the same problem. Because it wasn't a regression, I didn't release a hotfix. But maybe I should.

[2019-03-21 11:00] VladKopanev commented on #170
Hi! I would like to do this. I've created a PR for this issue, pls take a look.

[2019-03-22 05:25] anicolaspp commented on #167
I just love people are using `Diet`. I had a great time implementing this originally.

[2019-03-22 05:26] #170 closed

[2019-04-01 20:19] anicolaspp commented on #167
@larsrh what you suggested is how `Diet` is actually implemented. When adding ranges, a comparison is done in the same way you described.

[2019-05-12 18:15] ryan-williams opened #193 "Heap.pop()?"
Any reason that `Heap.remove` doesn't return the min element in addition to the new Heap, i.e. `(Option[A], Heap[A])`?

I'm new to this repo, but would have guessed that was the much more common operation.

Perhaps a new `pop` method would be the way to add it?

This is simple and I need it, so I'll PR it if it sounds good, thanks!

[2019-05-12 18:21] johnynek commented on #193
`heap.minimumOption.map { m => (m, heap.remove) }` would do it.

It would be a nice PR.

[2019-05-12 18:36] ryan-williams commented on #193
Thanks. Thinking out loud for a second because I may be confused about what I need.

My plan is to use Heap in a cats-effect `Ref` and have multiple workers concurrently pulling work-items off of it.

I thought calling `minimumOption` and `remove` in sequence would introduce a race condition, but I guess the idea is that doing them in a single `Ref.modify` guarantees that the `Heap` was not modifi

[2019-05-12 19:49] johnynek commented on #193
That sounds right to me. Modify is atomic.

[2019-06-12 15:25] #185 closed

[2019-06-15 05:37] xuwei-k opened #198 "support Scala 2.13"
- [x] https://github.com/typelevel/algebra/issues/232

[2019-06-15 10:54] xplosunn opened #200 "Rename ISet to Predicate?"
`Predicate` seems to be a more common name for the same concept. Would the rename make sense here?

[2019-06-15 15:00] larsrh commented on #198
PR appreciated.

[2019-06-15 15:01] larsrh commented on #200
I'm personally in favour, but I have no strong opinions.

[2019-06-18 18:32] #200 closed

[2019-06-18 18:32] larsrh opened #202 "Clean up `Predicate`"
According to @johnynek's review comments:

https://github.com/typelevel/cats-collections/pull/201#pullrequestreview-250248153

[2019-06-28 13:30] ceedubs commented on #140
I've run into this too. I noticed that this issue was closed; is there an ETA for 0.8.0?

@sumnulu you mentioned that you're using a snapshot for now. Where are you getting that snapshot? I don't see any listed on the [Sonatype snapshots](https://oss.sonatype.org/content/repositories/snapshots/org/typelevel/).

[2019-06-28 14:48] ceedubs opened #210 "Make data structures covariant?"
Some (most?) of the structures in cats-collections, such as `Diet` and `Range` are covariant in nature, but not by definition. This leads to some minor awkwardness like [asInstanceOf calls](https://github.com/typelevel/cats-collections/blob/8089582ed7fc61f9c23a0bf76ac3401585e1a98e/core/src/main/scala/cats/collections/Diet.scala#L287). It also prevents 3rd party data types that contain these struct

[2019-06-28 14:57] sumnulu commented on #140
@ceedubs Sorry I meant we were using our internal build, not public snapshot which does not exists.

[2019-06-28 16:21] johnynek commented on #210
I personally prefer them to be covariant where possible as well.

[2019-06-28 22:31] larsrh commented on #210
Good point. I'd be very happy to accept such a PR.

[2019-06-28 22:32] larsrh commented on #140
@ceedubs The only blocker is #207 which I hope to get done by next week. Everything else can be pushed to 0.8.1 or 0.9.0.

[2019-06-28 23:10] ceedubs commented on #140
@larsrh sounds great! No rush; it's just for a hobby project. I just thought that I would check.

[2019-07-04 18:02] ceedubs commented on #198
Was this resolved by #207?

[2019-07-04 18:34] larsrh commented on #198
Indeed, good catch!

[2019-07-04 18:34] #198 closed

[2019-07-05 15:10] ceedubs commented on #210
I'm going to go ahead and close this out. `Dequeue` is the only data structure currently in cats-collections that I'm convinced is improved by being made covariant, and that was done in #214. These sort of general issues can hang around forever. People can create separate issues for any individual structures that they think should be converted.

[2019-07-05 15:10] #210 closed

[2019-07-05 21:19] ceedubs commented on #140
@larsrh great work getting #207 through! Is there anything that I can do to help with getting 0.8 published?

[2019-07-07 16:46] larsrh commented on #140
@djspiewak just released 0.8.0. Please check if it all works out.

[2019-07-08 13:17] ceedubs commented on #140
@larsrh @djspiewak just gave it a try and it's working great. Thank you!

[2019-07-11 14:39] anicolaspp commented on #167
this is not right. The elements on the range are based on a function that was used to construct the range. So there is no real way to do what you suggested.

[2019-07-11 14:40] anicolaspp commented on #167
I believe that range is iterable, somehow, already.

[2019-09-19 02:14] jiminhsieh commented on #14
@larsrh I'm interested in this one. I can generate the benchmark results. I do need someone to help me to **publish** the result (I know how to use sbt-jmh).

There are a few questions:
* I can not find the benchmarks.md which @stew mentioned at [the early comment](https://github.com/typelevel/cats-collections/issues/14#issuecomment-199733851).
* Is it fine I run the benchmarks on AWS EC2?

[2019-10-24 21:29] anicolaspp commented on #167
@larsrh this issue is easy to fix. Two DIETs are the same if they have the exact same Ranges. I will PR this.

[2019-10-25 02:18] anicolaspp commented on #167
I added a PR on this

[2019-10-25 02:18] #167 closed

[2019-10-25 04:05] anicolaspp commented on #193
@ryan-williams the reason is that I didn't think about it in my original implementation. Initially, there was Stew and me, we didn't have a lot of visibility and we were trying to push the library out there, so we didn't have a lot of requirements, just trying to do something that could help others, and here we are...

[2019-11-03 00:29] yilinwei commented on #56
I don't even remember why I needed this.

[2019-11-03 00:29] #56 closed

[2020-02-02 13:30] larsrh opened #277 "1.0"
What is missing for a 1.0 release?

@johnynek argued that we should give bincompat guarantees, so I figure it's time for a 1.0 series.

[2020-09-09 19:57] cb372 commented on #193
This issue can be closed, right? It’s been implemented.

[2020-09-11 19:19] johnynek opened #315 "remove Discrete typeclass in favor of one of the cats Enumerable typeclasses"
see:

https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/Enumerable.scala

I don't know the minimal thing we are using, maybe Previous and Next or PartialPrevious and PartialNext would be enough.

It would be nice to remove Discrete and standardize on the cats versions.

[2020-12-10 04:04] mperucca opened #330 "Publish artifacts for Scala.js 1"
Publish Scala.js 1 artifacts for version 0.9.0 to Maven

[2020-12-13 10:13] larsrh commented on #330
I'm surprised that those don't exist yet :thinking: I'll get right on that.

[2020-12-13 10:32] larsrh commented on #330
Sadly I was unable to pick a commit that supports both Scala.js 0.6 and 1, so I released a fresh 0.9.1 based on master.

[2020-12-13 10:32] #330 closed

[2020-12-13 11:19] larsrh opened #333 "Migrate from tut to mdoc"

[2020-12-13 11:19] larsrh opened #334 "Dotty support"
Blocked by #333

[2020-12-15 08:45] mperucca opened #336 "AvlMap alter doesn't remove mapping"
`AvlMap(1 -> 'a').alter(1)(_ => None)` doesn't remove mapping

[2021-01-23 10:28] larsrh opened #346 "Migrate to sbt-github-actions"

[2021-01-30 18:08] ashleymercer commented on #315
Have taken a bit of a look at this today as part of the LSUG day, and it turned out to be a bit bigger than I expected!

I think the correct approach is to remove `Discrete` and use cats `BoundedEnumerable` instead, since this correctly models types which have a finite domain.  I have a couple of questions which need answering please @larsrh before I can proceed :)

(Aside: there's a missing `Boun

[2021-01-30 19:13] ashleymercer commented on #315
Some more colour on `Range`: I think this test (and others like it) should pass but currently don't. Should this be the desired behaviour?

[code]

It would be logical, I think - but it would probably require some internal re-engineering of `Range` to know whether it's running forwards or backwards (and then similarly for things like `contains(range: Range[A])` we need to compare to whether the _o

[2021-01-31 09:35] larsrh commented on #333
#351

[2021-01-31 09:35] #333 closed

[2021-01-31 09:42] larsrh opened #352 "Integrate mdoc with sbt-microsites"

[2021-01-31 12:21] larsrh commented on #315
I personally believe that a `Range` where `start` > `end` should be empty. In that case, your proposed test should fail.

As for `inverse`, I'd probably try to get it into Cats first (another patch release is overdue anyway), and if that fails, go for the extension method.

Would that be alright with you?

[2021-02-03 12:39] brbrown25 commented on #352
I'd be interested in helping with this!

[2021-02-03 12:44] larsrh commented on #352
Thanks, consider this issue claimed :slightly_smiling_face:

[2021-02-04 11:02] ashleymercer commented on #315
In that case, would you be happy for me to remove the logic to run in reverse from `toIterator`? This behaviour [is actually documented](https://typelevel.org/cats-collections//range.html#inverted-range) so I guess it would be a breaking change (but possibly not an issue since cats-collections is still pre-1.0)?

Okay, I'll raise a ticket there and see what the feedback is :)

[2021-02-05 07:17] larsrh commented on #315
Uh, nothing is ever simple :sweat_smile: Let's keep it as it is, then. I wonder though why the test fails, then.

[2021-02-08 13:56] brbrown25 commented on #346
If you'd like I can assist in this one as well.

[2021-02-09 06:10] larsrh commented on #346
Sure thing.

[2021-02-10 06:54] larsrh commented on #315
@ashleymercer Since #358 cats-collection depends on Cats 2.4.0, so the missing instance is available.

[2021-02-11 18:07] larsrh commented on #346
#357

[2021-02-11 18:07] #346 closed

[2021-02-11 18:08] #352 closed

[2021-02-18 08:11] froth opened #366 "typelevel.org/cats-collections/ leads to 404"
The link in the about section of https://github.com/typelevel/cats-collections leads to the void, which is sad :(

[2021-03-10 19:57] #336 closed

[2021-04-05 13:33] #366 closed

[2021-04-05 13:41] larsrh commented on #366
Fixed now by @VlachJosef.

[2021-04-05 14:23] #334 closed

[2021-06-02 06:37] armanbilge commented on #277
Before 1.0, we should switch the algebra dependencies to the forthcoming cats-algebra.

[2021-06-02 16:20] armanbilge commented on #277
I'd be happy to help 1.0 to materialize. In preparation for this, I think at least a couple of the PRs are 90% baked so can be finished up, and certainly a few of the open issues can be addressed. How long is the goal to continue publishing for Scala 2.12, can it be dropped for 1.0?

[2021-06-02 17:12] johnynek commented on #277
I chimed in on the cats-algebra thread. I'm very -1 on renaming the packages. And you can see a good example here.

Now we are saying, let's also break compatibility in cats-collections just so we can change the package name. I'm -1.

I think we should keep compatibility in algebra as we move the code into cats, and we should publish 1.0 here as is without blocking on that release since it will be

[2021-08-30 13:53] danicheg opened #425 "A flaky test `cats.collections.tests.TreeListSpec`"
That test contains a flaky test suite "updated works" that fails from time to time. Recently I got an error:
[code]

[2021-09-03 13:21] #425 closed

[2021-09-04 07:04] gemelen opened #430 "Remove Gitter link"
Gitter room for 'cats-collections` is effectively abandonded for 3 years and most of Typelevel discussions are moved to Discord.
We may consider to remove Gitter link (chat badge in README) and update documentation with a link to Typelevel discord as a channel for communication.

[2021-09-10 07:40] gemelen commented on #277
For ease of reference: https://github.com/typelevel/cats/pull/3918

[2021-09-10 15:43] armanbilge commented on #277
@gemelen FYI We moved algebra into cats binary-compatibly (this was the right thing to do) so there is no need for any changes here.

[2021-09-10 16:47] gemelen commented on #277
Yep, I found out that it's a part of the cats now, but thanks for the info anyway.

[2021-09-26 16:47] gemelen commented on #430
#439

[2021-09-28 17:39] #430 closed

[2021-10-16 06:48] gemelen opened #444 "Bring back code coverage per PR"
Investigate and fix an issue with code coverage not being posted in PRs.
Coverage is sent on each CI run, but isn't calculated on [codecov side](https://codecov.io/github/typelevel/cats-collections) and not posted.

[2021-10-17 08:11] gemelen commented on #444
![ci](https://user-images.githubusercontent.com/3505278/137618008-5f1d4276-110a-47dd-b70e-18e828ae8199.png)
That notification that "CI failed" is quite suspicious here. I suggest that something changed configuration-wise on Codecov side and for 8 or so months this repo has no coverage reports thereafter.

[2021-11-22 12:03] gemelen opened #456 "0.9.4 as intermediate release"
Make a release of 0.9.4 version from current (or so) state.
This would cover the gap from previous release and what was done after that without significant changes for end-users.

[2022-01-17 07:49] lukoyanov opened #480 "Migrate to sbt-typelevel"
According to the request from @armanbilge we need to migrate to sbt-typelevel.

Documentation is available here:
https://github.com/typelevel/sbt-typelevel/#readme

[2022-01-19 16:33] osleonard commented on #480
Will take of this

[2022-01-23 21:37] armanbilge opened #486 "Fix the warnings and enable fatal warnings in CI"
Follow-up to https://github.com/typelevel/cats-collections/pull/485.

https://github.com/typelevel/cats-collections/blob/2bf3b430484c7788f3cadae5835690fb0cbd53c9/build.sbt#L17

[2022-01-23 21:38] armanbilge opened #487 "Get benchmarks compiling on Scala 3"
Followup to https://github.com/typelevel/cats-collections/pull/485. Not sure if this is possible (depends on scalaz support for Scala 3 I think).

[2022-02-01 16:37] #480 closed

[2022-02-01 19:14] armanbilge opened #491 "Setup for CI release"
The snapshot publish failed because this repository is not currently setup for CI release (there is no sonatype user/password in secrets).

[code]

Linking to https://github.com/typelevel/governance/issues/23.

[2022-03-30 19:03] gemelen commented on #491
Seems to be done as per https://github.com/typelevel/cats-collections/runs/5757922346?check_suite_focus=true

[2022-03-30 19:03] #491 closed

[2022-03-30 19:04] gemelen commented on #456
@osleonard WDYT about this?

[2022-07-15 18:07] armanbilge commented on #277
@gemelen I think it would be fantastic to start working seriously towards 1.0. I think two very good first steps toward this would be:
- https://github.com/typelevel/cats-collections/issues/486
- https://github.com/typelevel/cats-collections/issues/456

Then we can start triaging for 1.0. I'm happy to help review PRs where I can, please @ me.

[2022-07-15 18:16] armanbilge commented on #444
I plan to add an scoverage integration to sbt-typelevel in the near future. Once that lands it should be very very easy to enable.

[2022-07-16 08:48] gemelen opened #529 "Build for Scala Native"
Investigate if we'are able to add Scala Native as a build target.

[2022-07-17 07:33] #529 closed

[2022-08-22 09:12] gemelen opened #537 "Add CHAMP HashMap and HashSet to microsite"
Extend documentation presented in a project's microsite for newly added CHAMP HashMap and HashSet

[2022-08-22 11:27] armanbilge commented on #456
@gemelen now seems like a really great time to do this release :)

https://typelevel.org/sbt-typelevel/faq.html#how-do-i-cut-a-release

[2022-08-22 17:50] #456 closed

[2022-08-22 22:29] armanbilge commented on #277
Nice job releasing v0.9.4 🎉

Next step towards 1.0: does anyone have time to work on https://github.com/typelevel/cats-collections/issues/486? :) It's not strictly necessary per-se, but IMHO fatal warnings enabled shows a commitment to code quality.

[2022-10-10 18:19] johnynek commented on #193
done.

https://github.com/typelevel/cats-collections/blob/361e6b0c55a14969c8119934b60643bb30fc6f33/core/src/main/scala/cats/collections/Heap.scala#L150

https://github.com/typelevel/cats-collections/blob/361e6b0c55a14969c8119934b60643bb30fc6f33/core/src/main/scala/cats/collections/PairingHeap.scala#L176

https://github.com/typelevel/cats-collections/blob/361e6b0c55a14969c8119934b60643bb30fc6f33/co

[2022-10-10 18:19] #193 closed

[2022-10-26 18:47] armanbilge commented on #277
Another update on this: I am becoming increasingly convinced of the importance of releasing a Cats Collections 1.0 to support several projects across the Typelevel ecosystem.

1. [idna4s](https://github.com/typelevel/idna4s) has recently adopted the Cats Collections' `BitSet`. That lib will be used in [ip4s](https://github.com/Comcast/ip4s) and [cats-uri](https://github.com/typelevel/cats-uri), wh

[2022-10-26 19:45] gemelen commented on #277
I could not not respond here, at least to set the expectations about my level of involvement: unfortunately, I live in Ukraine and I'm a bit distracted by the war to be able to put more than it's required to keep this library afloat. That's said, I'd still try to help with what's need to be done from my side.

[2022-11-14 04:09] satorg commented on #486
@armanbilge @gemelen may I take this one?

[2022-11-15 13:55] isomarcte opened #564 "Inconsistent Range behavior when dealing with reverse ranges"
I've noticed some inconsistencies with how several methods on `Range` and that use `Range` are defined when dealing with ranges which go different directions.

### Range.contains ###

`contains` for `Range` is not symmetric around `reverse`.

[code]

Perhaps most troubling,

[code]

This is made more confusing when looking at how `Range` is used with `Diet`.

[code]

There are a few ways to remedy

[2022-11-15 17:12] satorg commented on #564
I would say it is by design: `Range` defines boundaries but not specify `Order` upon creation. Then every single method has to provide `Order` implicitly. In particular, both the `contains` methods take an implicit `Order` parameter. Therefore, if we reverse `Range` then the `Order` used for its methods has also be reversed:
[code]

That said, I personally find such an approach controversial quite

[2022-11-15 17:23] satorg commented on #564
If we could change that, then perhaps it would be a cool change. Would we consider making `Range` to be not "all-inclusive" only? I mean, if we could create a `Range` instance having one or both boundaries that would be exclusive, then it would make this type way more useful.

[2022-11-15 17:24] armanbilge commented on #564
See also some discussion in https://github.com/typelevel/cats-collections/issues/315#issuecomment-770266231.

[2022-11-15 17:46] johnynek commented on #277
Sorry I missed the question earlier.

I think that cats-collections hasn't yet achieved its potential for adoption. If we think that breaking binary compatibility now could help that and remedy some design issues, I can see the value in it.

I think since we do seem to have inconsistent takes on internal vs external representation of associated type classes (Order and Hash required for some collec

[2022-11-15 18:33] armanbilge commented on #564
👍 yes, this is the only safe way.

[2022-11-15 18:41] isomarcte commented on #564
:+1: You scared me for a minute.

So coming back to `Range`. If we define ranges as intervals going in a single direction, then I think we can make the interface consistent and relatively easy to use. This would require the use of a newtype for reversing direction. I'm happy to POC that if there are no objections. It would also make the case for moving [Inverse](https://github.com/typelevel/cats/p

[2022-11-15 19:31] armanbilge commented on #564
Thanks for that distinction, at least for me I think that helped clarify things.

I think (1) is an "interval": it is a set of things, in some natural order. Whereas (2) is a "range" since you are not only specifying the set, but in which order to iterate it. I am not sure if that means we have to reverse the `Order` instance: the direction is a property of the "range", and not of its element. I t

[2022-11-15 19:52] satorg commented on #564
In theory yes, it should not be the property of Range. But the way it is currently implemented is that `Order` is used to correlate the Range's boundaries with other items of the same type (including boundaries of another Range). Therefore, currently `Order` magically becomes a property of the Range itself. And yeah, I agree it should not be so...

[2022-11-15 20:14] isomarcte commented on #564
@satorg RE 1.CONS

Assuming the inclusion of `Inverse` from the aforementioned PR, do you think something along these lines would work?

[code]

And I'm completely fine making it exclusive on the upper bound. I think that would even be required, since if we require that `start <= end`, then the only want to define the empty interval is to have the upper bound be exclusive.

[2022-11-15 20:15] isomarcte commented on #564
I can also just make a POC PR as well, if that would be easier for discussion.

[2022-11-16 02:56] satorg commented on #564
Yes, I think it makes sense as an option... But on the other hand.... Imagine that we need to make `Interval` for the entire `Short` type range. In that case `Interval(Short.MinVal, Short.MaxVal)` wouldn't work since the last value will be always excluded.

Another (but similar) example:
[code]
Apparently we can define some `Order` for such an enum as well as `Discrete` (or perhaps even `BoundedEn

[2022-11-16 02:59] satorg commented on #564
As a bottomline: there's a controverity: if `Interval` only allows both lower and upper bounds to be inclusive, then there's no way to define an empty `Interval`. Otherwise, if it always defined as [inclusive, exclusive), then we cannot describe a full range of some limited set of values.

This is why I think it should allow both options.

[2022-11-16 03:04] satorg commented on #564
On the second thought... Perhaps, the idea is too drastic, but... is there really a necessity for having classes like `Range` or `Interval` in principle, taking into account that there are cool typeclasses like `UnboundedEnumerable`, `LowerBoundedEnumerable`, `BoundedEnumerable`, etc already defined in **cats**?

[2022-11-16 14:23] isomarcte commented on #564
@satorg I would say yes. An `Interval` type, not only providing some utility itself, is fundamental to a class of data structures [called Interval Trees](https://en.wikipedia.org/wiki/Interval_tree), of which we have a variant in cats-collection already, e.g. `Diet`.

Having a base type with the correct semantics to implement these is, I think, quite useful.

I am of course heavily biased here. I

[2022-11-16 23:00] satorg commented on #564
I basically agree. But what I am thinking about (and yeah, perhaps it is too crazy) is to make `Diet` more generic and don't stick to a particular interval/range type. Therefore if we made implementation of `Diet` based on typeclasses rather than a particular range implementation, then it should be possible to plug any range implementation into it, including `scala.collection.immutable.Range`, som